header main section,
footer {
  width: 960px;
}
header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* fin nav*/
}
header img {
  display: block;
}
header nav {
  display: flex;
  flex: 1;
  /* fin ul*/
}
header nav ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  /* fin li*/
}
/* fin header  */
footer div:nth-child(3) {
  font-size: 3em;
}
.path {
  stroke-dasharray: 20;
  animation: dash 5s infinite;
}
.path2 {
  stroke-dasharray: 10;
  animation: dash2 10s infinite;
}
.path3 {
  stroke-dasharray: 50;
  animation: dash2 15s infinite;
}
.path4 {
  stroke-dasharray: 100;
  animation: dash4 15s infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}
@keyframes dash2 {
  to {
    stroke-dashoffset: 1000;
  }
}
@keyframes dash3 {
  to {
    stroke-dashoffset: 500;
  }
}
@keyframes dash4 {
  from {
    stroke-dashoffset: 60;
  }
  to {
    stroke-dashoffset: 20000;
  }
}
