/* ------------------------------------------------------------ MOBILE -------------- */
@media all and (min-width: 480px) {
  /* Variable */
  /* pour le debuggage on met une bordure autour de chacun des éléments 

* {border: 1px solid #aaa;}
*/
  .global {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: arial;
  }
  header,
  footer {
    background-color: #000000;
  }
  header {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  header img {
    /* width : 352px; dimension de l'image */
    width: 100%;
  }
  header nav ul {
    list-style-type: none;
    padding: 3px;
  }
  header nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px dotted #f9d42a;
  }
  header nav ul li:first-child {
    border-top: 1px dotted #f9d42a;
  }
  header nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    padding: 3px;
    color: #ffffff;
    flex: 1;
    transition: background-color 1s;
  }
  header nav ul li i {
    color: #f9d42a;
    margin-left: 10px;
    margin-right: 10px;
  }
  header nav ul li a:hover {
    background-color: #aaa;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section article {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 250px;
    font-size: 250px;
  }
  body > .global:first-child {
    opacity: 0.8;
    background-color: black;
  }
  body > .global:last-child {
    opacity: 0.8;
    background-color: black;
  }
  main .global:nth-child(odd) {
    background-color: #aeafb4;
  }
  main .global:nth-child(odd) article:nth-child(1) {
    background-color: #aeafb4;
    width: 200px;
  }
  main .global:nth-child(odd) article:nth-child(2) {
    background-color: #d47fe3;
    width: 200px;
  }
  main .global:nth-child(odd) article:nth-child(3) {
    background-color: #b1dca9;
    width: 200px;
  }
  main .global:nth-child(odd) article:nth-child(4) {
    background-color: #d47fe3;
    width: 200px;
  }
  main .global:nth-child(odd) article:nth-child(5) {
    background-color: #aeafb4;
    width: 200px;
  }
  main .global:nth-child(even) {
    background-color: #9ea4c4;
  }
  main .global:nth-child(even) article:nth-child(1) {
    background-color: #9ea4c4;
    width: 200px;
  }
  main .global:nth-child(even) article:nth-child(2) {
    background-color: #687efa;
    width: 200px;
  }
  main .global:nth-child(even) article:nth-child(3) {
    background-color: #dbaab1;
    width: 200px;
  }
  main .global:nth-child(even) article:nth-child(4) {
    background-color: #687efa;
    width: 200px;
  }
  main .global:nth-child(even) article:nth-child(5) {
    background-color: #9ea4c4;
    width: 200px;
  }
  article {
    width: 100%;
  }
  h2 {
    font-size: 100%;
  }
  footer {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer div {
    width: 30px;
  }
  footer div i {
    color: #f9d42a;
    transition: color 1s;
  }
  footer div i:hover {
    color: #7f8ee3;
  }
  html {
    height: 200%;
    witdth: 100%;
    background-image: url("../images/parcautomne.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-origin: ;
  background: ;*/
  }
}
@media all and (min-width: 600px) {
  /* Un premier media query pour le logo - apparaît en mode paysage sur les mobiles */
  header img {
    /* width : 352px; dimension de l'image */
    width: 352px;
    /* dimension de l'image */
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
  }
  header nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
  }
  header nav ul li:first-child {
    border-top: none;
  }
  main section {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  footer {
    justify-content: space-around;
  }
}
@media all and (min-width: 800px) {
  header main section,
  footer {
    width: 960px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* fin nav*/
  }
  header img {
    display: block;
  }
  header nav {
    display: flex;
    flex: 1;
    /* fin ul*/
  }
  header nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    /* fin li*/
  }
  /* fin header  */
  footer div:nth-child(3) {
    font-size: 3em;
  }
  .path {
    stroke-dasharray: 20;
    animation: dash 5s infinite;
  }
  .path2 {
    stroke-dasharray: 10;
    animation: dash2 10s infinite;
  }
  .path3 {
    stroke-dasharray: 50;
    animation: dash2 15s infinite;
  }
  .path4 {
    stroke-dasharray: 100;
    animation: dash4 15s infinite;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 2000;
    }
  }
  @keyframes dash2 {
    to {
      stroke-dashoffset: 1000;
    }
  }
  @keyframes dash3 {
    to {
      stroke-dashoffset: 500;
    }
  }
  @keyframes dash4 {
    from {
      stroke-dashoffset: 60;
    }
    to {
      stroke-dashoffset: 20000;
    }
  }
}
