header main section, footer{
  width:960px;
}

header{
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
          -ms-flex-direction:row;
              flex-direction:row;
      -webkit-box-pack : justify;
          -ms-flex-pack : justify;
              justify-content : space-between;
      -webkit-box-align:center;
          -ms-flex-align:center;
              align-items:center;

    img {
          display: block;
        }
    nav {
          display : -webkit-box;
          display : -ms-flexbox;
          display : flex;
          -webkit-box-flex:1;
              -ms-flex:1;
                  flex:1;
        ul{
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-flex:1;
              -ms-flex:1;
                  flex:1;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-pack : distribute;
              justify-content : space-around;
          li {

            a{

              }
             a:hover{
             } 
            } /* fin li*/
          } /* fin ul*/
        } /* fin nav*/
    } /* fin header  */

    footer div:nth-child(3) {
      font-size: 3em;
}